.primary-button{
  display: flex;
}

.primary-button > a{
  background: rgb(var(--button-color-rgb));
  padding: 10px;
  border-radius: 10px;
}

.primary-button > a:hover{
  background: rgba(var(--button-color-rgb),0.8);
}

.primary-button * {
  color: white;
}