.product-card, .bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--product-card-box-shadow);
}

.bottom{
  padding: 15px;
  gap: 10px;
  box-shadow: none;
}

.bottom > p {
  min-height: 200px;
}

.product-card{
  width: var(--featured-product-width);
  border-radius: var(--featured-product-border-radius);
}

.product-card .img-container, .product-card img{
  width: 100%;
  max-height: 200px;
}

.product-card .img-container{
  padding: 10px;
}

.product-card img{
  object-fit: contain;
}

.price-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.price-row > span{
  font-weight: bold;
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}

@media screen and (max-width: 855px){
  .product-card{
    width: 100%;
  }
}