@import './variables.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  color: black;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.App > * {
  margin: 0 var(--app-side-inner-margin);
}
