body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './variables.css';
@import './layout.css';
@import 'reset.css';

/* general component */
@import '../components/Footer/Footer.css';
@import '../components/Header/Header.css';
@import '../components/Header/Hamburger/Hamburger.css';
@import '../components/Header/Menu/NavigationMenu/NavigationMenu.css';
@import '../components/Header/Menu/LoginMenu/LoginMenu.css';
@import '../components/SearchBar/SearchBar.css';
@import '../components/SearchBar/InputBar.css';
@import '../components/Heading/Heading.css';
@import '../components/FormField/FormField.css';

/* buttons */
@import '../components/Buttons/PrimaryButton/PrimaryButton.css';
@import '../components/Buttons/SecondaryButton/SecondaryButton.css';

/* product card */
@import '../components/ProductCard/ProductCard.css';
@import '../components/ProductCard/Rating/Rating.css';
@import '../components/ProductCard/BestSeller/BestSeller.css';

/* Home components */
@import '../pages/Home/components/Hero/Hero.css';
@import '../pages/Home/components/FeaturedProducts/FeaturedProducts.css';
@import '../pages/Home/components/Testimonials/Testimonials.css';
@import '../pages/Home/components/Testimonials/TestimonialCards.css';
@import '../pages/Home/components/Faq/Faq.css';

/* Cart components */
@import '../pages/Cart/components/Cartcard/CartCard.css';

/* Product page components */
@import '../pages/Products/components/Filter/Filter.css';

/* Pages */
@import '../pages/PageNotFound/PageNotFound.css';
@import '../pages/Home/Home.css';
@import '../pages/Products/ProductsPage.css';
@import '../pages/Cart/Cart.css';
@import '../pages/Auth/Auth.css';


@import 'bootstrap-icons/font/bootstrap-icons.css';
