.App{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.App > * {
  margin: 0 var(--app-side-inner-margin);
}

@media (max-width: 768px){
  .App > * {
    margin: 0 var(--app-side-margin);
  }
}