.App{
  display: flex;
  flex-direction: column;
  /* gap: var(--app-section-gap); */
}

.App > * {
  margin: var(--app-section-gap) var(--app-side-inner-margin);
}

.App>main {
  margin-top: 0;
}

.auth-link{
  text-decoration: underline;
  color: blue;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5px;
  border: 1px solid black;
}

.App:last-child {
  margin-bottom: var(--app-section-gap);
}

@media screen and (max-width: 768px){
  .App > * {
    margin: 0 var(--app-side-margin);
  }
}