.App{
  display: flex;
  flex-direction: column;
  /* gap: var(--app-section-gap); */
}

.App > * {
  margin: var(--app-section-gap) var(--app-side-inner-margin);
}

.App>main {
  margin-top: 0;
}

.App:last-child {
  margin-bottom: var(--app-section-gap);
}

@media screen and (max-width: 768px){
  .App > * {
    margin: 0 var(--app-side-margin);
  }
}