:root{
  --navbar-width: 95%;
  --min-header-height: 50px;
  --min-icon-height: 1.5rem;
  --navbar-color: #E8E8E8;
  --min-app-width: 80%;
  --app-side-margin: calc((100% - var(--min-app-width)) / 2);
  --navbar-border: 1.5px solid var(--navbar-color);
  --navbar-top-bottom-margin: 10px;
  --navbar-side-margin: 20px;
  --app-side-inner-margin: calc(var(--app-side-margin) + var(--navbar-side-margin));
  --footer-color: #6b7280;
  --button-color-rgb: 0, 147, 213;
  --featured-product-gap: 30px;
  --featured-product-columns: 3;
  --featured-remaining-width: calc(100% - var(--featured-product-gap) * (var(--featured-product-columns) - 1));
  --featured-product-width: calc(var(--featured-remaining-width) / var(--featured-product-columns));
  --featured-product-border-radius: 10px;
  --layout-width: calc(100% - 2 * var(--app-side-inner-margin));
}

@media screen and (max-width: 1100px){
  :root{
    --featured-product-columns: 2;
    --layout-width: calc(100% - 2 * var(--app-side-margin));
  }
}

