:root{
  --app-section-gap: 40px;
  --navbar-width: 95%;
  --navbar-font-size: 1rem;
  --min-header-height: 90px;
  --navbar-container-margin-top-bottom: calc((var(--min-header-height) - var(--min-icon-height)) / 2);
  --footer-min-height: 100px;
  --min-icon-height: 1.5rem;
  --navbar-color: #E8E8E8;
  --min-app-width: 80%;
  --app-side-margin: calc((100% - var(--min-app-width)) / 2);
  --navbar-border-bottom-width: 1.5px;
  --navbar-border: var(--navbar-border-bottom-width) solid var(--navbar-color);
  --header-height: calc(var(--min-header-height) + var(--navbar-border-bottom-width)
  + (var(--navbar-container-margin-top-bottom) + var(--navbar-top-bottom-margin)) * 2);
  --navbar-top-bottom-margin: 10px;
  --navbar-side-margin: 20px;
  --app-side-inner-margin: calc(var(--app-side-margin) + var(--navbar-side-margin));
  --footer-color: #6b7280;
  --button-color-rgb: 0, 147, 213;
  --featured-product-gap: 30px;
  --featured-product-columns: 3;
  --featured-remaining-width: calc(100% - var(--featured-product-gap) * (var(--featured-product-columns) - 1));
  --featured-product-width: calc(var(--featured-remaining-width) / var(--featured-product-columns));
  --featured-product-border-radius: 10px;
  --layout-width: calc(100% - 2 * var(--app-side-inner-margin));
  --menu-box-shadow: 0 0 3px grey;
  --login-menu-border-radius: 10px;
  --section-gap: 30px;
  --section-border-color: rgb(235, 237, 239);
  --product-card-box-shadow: 0 0 7px var(--section-border-color);
  --testimonial-text-color: rgb(116, 125, 136);
  --testimonial-content-padding: 30px;
  --login-min-height: calc(100dvh - var(--header-height) 
  - var(--footer-min-height) - var(--app-section-gap));
  --filter-close-button-padding: 1rem;
  --filter-padding-top: calc(var(--navbar-container-margin-top-bottom) + 1rem - var(--filter-close-button-padding));
  --filter-padding-bottom: calc(var(--navbar-top-bottom-margin) + 1rem - var(--filter-close-button-padding));
}

@media screen and (max-width: 1100px){
  :root{
    --featured-product-columns: 2;
    --layout-width: calc(100% - 2 * var(--app-side-margin));
  }
}

