.secondary-button{
  padding: 10px;
  background-color: rgb(29, 78, 216);
  border-radius: 10px;
  align-self: flex-start;
  color: white;
}

.secondary-button:hover {
  cursor: pointer;
  background-color: rgba(29, 78, 216,0.8);
}

*:disabled, *:disabled:hover{
  background-color: rgba(210, 218, 239, 0.9);
}
*:disabled:hover{
  cursor: not-allowed;
}

.secondary-button > * {
  color: white;
}