#footer{
  display: flex;
  margin: 0;
  width: 100%;
  border-top: var(--navbar-border);
  min-height: var(--footer-min-height);
}

.footer-bar{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  margin: 0 var(--app-side-inner-margin);
  padding: 10px 0;
}

.footer-bar * {
  color: var(--footer-color);
  font-size: 1.1rem;
}

.socials{
  display: flex;
  width: fit-content;
  gap: 30px;
}

.socials *:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .footer-bar{
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .footer-bar * {
    font-size: 0.9rem;
  }
}